<project n="tra" 
    xmlns="http://oracc.org/ns/xpd/1.0"
    xmlns:xpd="http://oracc.org/ns/xpd/1.0">
  <title>Translations</title>
  <name>Translation</name>
  <abbrev>TRA</abbrev>
  <project-type>user</project-type>
  <blurb>Workspace for organizing translations of Sumerian texts</blurb>
  <type>corpus</type>
  <logo type="text">TRA</logo>
  <option name="asl-auto" value="yes"/>
  <option name="asl-font" value="oobf"/>
  <!--<option name="asl-merge" value="00lib/gudea.mrg"/>-->
  <option name="asl-script" value="middle"/>
  <option name="asl-stats" value="yes"/>
  <option name="catalog-build-policy" value="custom"/>
  <option name="cbd-oid" value="yes"/>
  <option name="cfy-key" value="cv01-150-middle-."/>
  <option name="build-approved-policy" value="atf"/>
  <option name="outline-default-select" value="false"/>
  <option name="outline-default-sort-fields" value="period,ruler"/>
  <option name="outline-default-sort-labels" value="period,ruler"/>
  <option name="outline-default-catalog-fields" value="designation,primary_edition,distribution"/>
  <option name="outline-default-catalog-widths" value="25,35,35"/>
  <option name="%sux" value=". epsd2/literary epsd2/names epsd2"/>
  <option name="sum-alias" value="yes"/>
  <option name="fuzzy-alias" value="yes"/>
  <option name="gh-user" value="stinney"/>
  <option name="gh-repo" value="tra"/>
</project>
